body{
    background-color: #E5E8EA;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    
}

.container{

    width:100vw;
    height:100vh;
}

.banner{
    background-color:#36A1D2;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    color:#E5E8EA;
    width:100vw;
    height:20vh;
}

.logo{
    border-radius:50%;
    width:10rem;
    height:auto;
    padding:5px;
    margin:5px;
    display:flex;
    align-items: center;
}


ul{
display:flex;
justify-content: space-evenly;
}

li{
    display:inline-block;
    padding:2px;
    margin: 3px;
    color:#E5E8EA;
    
}

.headline{
    padding:5px;
    margin:5px;
}


.navbar{
    width:100vw;
    height:5vh;
    background-color:#3D4D55;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hero-section{
    width:100vw;
    height:80vh;
    background-image: url(images/hero-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed;
}